.btn {
    padding: 0;
    border: none;
    background: none;

    &--cart {
        display: block;
        color: $color-white;
        padding-left: 80px;
        padding-right: 135px;
        padding-top: 15px;
        text-transform: uppercase;

        @media (min-width: $screen-xs) and (max-width: 1299px) {
            padding: 10px 20px;
        }
        
        @media (min-width: 1300px) and (max-width: 2600px) {
            padding-left: 30px;
            padding-right: 50px;
            font-size: $font-size--xs;
        }
    }
}
