.main-nav {
  margin-bottom: 200px;
  display: flex; 
  justify-content: space-between;
  align-items: stretch;
  
   @media (max-width: $screen-xl) {
   	margin-bottom: 100px;
   }

&__main-navigation {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    flex-wrap: nowrap;
    background: $color-white;
}

&__main-navigation-link {
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
    color: $color-nav-link;
    font-stretch: condensed;
    text-transform: uppercase;

    @media (min-width: 1300px) and (max-width: 2600px) {
        font-size: $font-size--xs;
    }
    
    &:hover,
    &:focus {
        color: $color-dark-brown;
    }
}


}
