.main-header {
	
	&__menu {
		padding-top: 120px;
		margin-bottom: 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;


		@media (max-width: $screen-lg) {
		flex-direction: column;
		align-items: flex-start;
		}
	}

	&__site-heading {
		font-family: $font-family--base;
		font-size: $font-size--header-heading;
		color: $color-white;
		font-stretch: condensed;
		text-transform: uppercase;
		margin-right: 10%;

		@media (max-width: $screen-xl) {
			font-size: 3.125rem;
		}
	}
	&__menu-list {
		flex-grow: 1;


	@media (max-width: $screen-lg) {
		width: 100%;
	}	
	}

	&__menu-item {
		display: inline-block;
		vertical-align: middle;
		margin-right: 3%;

	@media (max-width: $screen-lg) {
		padding: 5px 0;
		display: block;
		}

	&:last-child {
		margin-right: 0;
	}
	}

	&__menu-link {
		display: block;
		padding: 10px 0;
		font-size: $font-size--sm;
		font-weight: 300;
		color: $color-white;
		text-transform: uppercase;

	@media (max-width: screen-xl) {
		font-size: $font-size--xs;
	}
	}

	&__menu-language {
		display: inline-block;
		border: 3px solid $color-white;
		padding: 10px 15px;
		width: 90px;
	}

	&__menu-language-text {
		text-transform: uppercase;
		color: $color-white;
	}

	&__slogan {
		margin-bottom: 40px;
		font-size: $font-size--h1;
		color: $color-white;
		font-stretch: condensed;
		text-transform: uppercase;

		@media (min-width: $screen-xs) and (max-width: 575px) {
		font-size: $font-size--mobile-slogan;
	}
		@media (min-width: $screen-sm) and (max-width: $screen-xl) {
		font-size: $font-size--md;
	}
	}

	&__slogan-indent {
		display: block;
		margin-left: 8%;
	}
	&__slogan-company-name {
		display: block;
		margin-left: 13%;
	}
}