.main-nav {
  margin-bottom: 200px;
  
   @media (max-width: $screen-xl) {
   	margin-bottom: 100px;
   }

&__main-navigation {
	display: flex;
	justify-content: space-between;

	@media (max-width: $screen-xl) {
	flex-direction: column;
	}
}
&__main-navigation-link {
	color: $color-nav-link;
}

}