.promo {
	margin-top: -50px;
	padding-top: 40px;
	height: auto;
	background: $color-bg-promo;

@media (max-width: $screen-xl) {
	background: none;
}

&__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: stretch;

	@media (max-width: 1399px) {
	flex-direction: column;
	}
}

&__info {
	padding-top: 40px;
	background: $color-bg-promo;
	width: 1540px;

	@media (max-width: 1400px) {
	margin-bottom: 50px;
	}

	@media (max-width: $screen-xl) {
	width: 100%;
	}
}

&__features-list {
	padding-left: 40%;
	position: relative;

@media (min-width: $screen-xs) and (max-width: 575px) {
	padding-left: 7%;
}

@media (min-width: $screen-sm) and (max-width: 767px) {
	padding-left: 20%;
}

@media (min-width: $screen-md) and (max-width: 1299px) {
	padding-left: 60%;
}

@media (min-width: 1300px) and (max-width: $screen-xl) {
	padding-left: 55%;
}

&:before {
	position: absolute;
	content:"";
	background: url(../img/bottle-image.png) no-repeat center;
	width: 397px;
	height: 718px;
	top: -170px;
	left: -50px;

@media (min-width: $screen-xs) and (max-width: 767px) {
	display: none;
}
@media (min-width: $screen-md) and (max-width: $screen-xl) {
	background: url(../img/bottle-image-md.png) no-repeat center;
	width: 285px;
	height: 516px;
	top: -100px;
	left: 0;
}
}
}

&__features-list-item {
	margin-bottom: 40px;
	position: relative;

&:after {
	position: absolute;
	content: "";
	background: url('../img/star-icon.png') no-repeat center;
	width: 70px;
	height: 70px;
	left: -100px;
	top: -20px;

@media (min-width: $screen-xs) and (max-width: 575px) {
	display: none;
}

@media (min-width: 1400px) and (max-width: 1600px) {
	left: -80px;
}
}
}

&__features-heading {
	font-size: $font-size--feature;
	color: $color-dark-brown;
	font-stretch: condensed;
	text-transform: uppercase;
	margin-bottom: 25px;

	@media (max-width: $screen-xl) {
		font-size: $font-size--base;
	}

&-small {
	display: block;
	font-size: $font-size--sm;
	color: $color-text-grey;
	text-transform: none;
}
}

&__features-number {
	font-size: $font-size--number;
	color: $color-light-brown;
	text-transform: none;

@media (max-width: $screen-xl) {
		font-size: $font-size--base;
	}
}

&__text-wrapper {
	display: flex;
	align-items: flex-start;
	padding-left: 7%;
	margin-bottom: 55px;

@media (max-width: $screen-md) {
		flex-direction: column;
	}
}

&__question {
	font-size: 1.875rem; 
	color: $color-black;
	width: 160px;
	margin-right: 12%;

@media (min-width: $screen-xs) and (max-width: $screen-md) {
	margin-bottom: 30px;
}
}

&__more-info {
	font-size: 5.438rem;
	color: $color-text-dark;
	font-stretch: condensed;
	margin-left: 3%;
	text-transform: uppercase;

@media (max-width: $screen-xl) {
		font-size: $font-size--md;
	}

@media (max-width: $screen-md) {
	margin-left: 0;
}
}

&__more-link {
	display: inline-block;
	margin-left: 33%;
	margin-bottom: 80px;
	font-family: $font-family--btn;
	font-weight: 700;
	font-size: $font-size-btn;
	color: $color-black;
	text-transform: uppercase;
	text-align: center;
	border: 10px solid $color-black;
	padding: 30px 5%;

@media (min-width: $screen-xs) and (max-width: 767px) {
 		margin-left: 7%;
		font-size: $font-size--sm;
	}

@media (min-width: $screen-md) and (max-width: 1399px) {
 		margin-left: 40%;
		font-size: $font-size--base;
	}

@media (min-width: 1400px) and (max-width: $screen-xl) {
 		margin-left: 35%;
		font-size: $font-size--base;
	}

&:hover {
    background: $color-white;
}

&:focus {
    opacity: 0.3;
}
}

&__form {
	width: 1084px;

@media (max-width: $screen-xl) {
	width: 100%;
}
}

&__background {
	background: $color-bg-promo url(../img/bg-wheat.jpg) no-repeat right bottom;
  	width: 100%;
  	height: 100%;
  	background-size: contain;

  	@media (max-width: $screen-xl) {
	background: url(../img/bg-wheat.jpg) no-repeat center;
	background-size: cover;
	height: auto;
}

}
}