// Variables for the project

// Variables for colors:
$color-white: 						#ffffff;
$color-green: 						#608a24;
$color-dark-grey:					#f0eeef;
$color-light-grey: 					#e9e5e4;
$color-black:						#000000;
$color-text-dark:					#25383f;
$color-dark-brown:					#4d4545;
$color-light-brown: 				#c49a6c;
$color-text-grey: 					#a7a9ac;
$color-nav-link:					#6d6e71;
$color-red: 						#d26441;
$color-bg-promo: 					#f1f2f2;

//Variables for font-size:
$html-size--base: 					16px;
$font-size--sm: 					1.438rem; // 23px
$font-size--xs: 					1rem; //16px
$font-size--md: 					3.125rem; // 50px
$font-size--base: 					1.875rem; //30px
$font-size--mobile-slogan:			2.5rem; // 40px
$font-size--h1:						7.813rem; // 125px
$font-size--h2:						5.438rem; // 87.5px
$font-size--form-heading:			4.688rem; // 75px
$font-size--header-heading:			6.563rem; // 105px
$font-size--feature:				3.25rem; // 52px
$font-size--number:					3.375rem; //54px	
$font-size-btn: 					3rem; // 48px

//Varibles for font-family:
$font-family--base: 				"Roboto", "Arial", sans-serif;

//Variables for grid:
$container-centered: 				79.3%;
$container-centered-md: 			95%;
$screen-xs: 						300px;
$screen-sm: 						576px;
$screen-md: 						768px;
$screen-lg: 						1100px;
$screen-xl: 						1600px;			